<div id="author">
    <ul>
        <li>
            <h2> <%= title %> </h2>
        </li>
        <li>
            <label for="name">Nombre:</label>
            <input type="text" name="name" readonly="readonly" value="Pedro J."/>
        </li>
        <li>
            <label for="apellidos">Apellidos:</label>
            <input type="text" name="apellidos" readonly="readonly" value="Cabezas Vallejo"/>
        </li>
        <li>
            <label for="foto">Foto:</label>
            <img src="../img/descarga.jpg" height="50"  widht="50"  />
        </li>
    </ul>
</div>
